@font-face {
    font-family: Body;
    src: url(Raleway-Regular.ttf);
}

@font-face {
    font-family: Body;
    src: url(Raleway-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Titulo;
    src: url(Amarillo.ttf);
}

body{
    font-family: Body;
    font-size: 16px;
}

img{
    border-radius: 3px;
}

header{
    background-image: url(../img/bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
}
.footer{
    background-color:#978B72;
	text-align: center;
	color: white;
    width: 100%;
    height: 120px;
    margin 0px;
    text-align: center;
    padding-top: 50px;
}

/** NAVBAR **/


.menu{
    background-color: white;
    position: fixed;
    width: 100%;
    color: #978B72;
    border-radius: 0px;
    z-index: 1000;
    -webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.25);
}

.opcoes{
    padding: 10px 20px 10px 20px;
    float: left;
    font-size: 20px;
}

.opcoes ol{
    list-style: none;
}

.opcoes ol li{
    display: inline-block;
    padding: 10px 20px;
}

.redesmenu{
    color: #978B72;
    float: right;
    padding: 13px 20px 0px 20px;
}

.redesmenu i{
    padding: 0px 5px;
}

.redesmenu a{
    color: #978B72;
    transition: 0.2s;
}

.redesmenu a:hover{
    color: #BD754F;
    text-decoration: none;
    transition: 0.2s;
}

.navbar {
    margin-bottom: 0px;
    border: 0px;
    border-radius: 0px;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.navbar-toggle {
    background-color: #978B72;
    border-radius: 0px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #978B72;
}

.navbar-inverse .navbar-nav>li>a {
    color: #978B72;
    transition: 0.2s;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #BD754F !important;
    text-decoration: underline;
    transition: 0.2s;
}

.navbar-inverse .navbar-nav>li>a:active {
    color: #978B72;
    text-decoration: underline;
}

.navbar-inverse .navbar-nav>li>a:visited {
    color: #978B72;
    text-decoration: underline;
}

.nomedosite{
    text-align: center;
    margin-top: 150px;
    padding-bottom: 300px;
}

.nomedositepages{
    padding-bottom: 50px;
}

.nomedosite h2{
    font-family: Titulo;
    font-size: 80px;
    color: #BD754F;
}

.nomedosite h3{
    padding-left: 40px;
    font-size: 33px;
}

.paddingleft{
    padding-left: 80px;
}

/** FIM HEADER **/

/** POSTS **/


.posts{
    text-align: center;
    margin-bottom: 50px;
    padding: 0px 100px;
}

.posts h2 a{
    color: #BD754F;
    transition: 0.2s;
}

.posts h1{
    color: #BD754F;
}

.posts p{
    padding: 20px;
}
.post1{
    padding: 50px 0px;
    border-bottom: 2px dotted #978B72;
}

.date a{
    color: #978B72;
    transition: 0.2s;
}

.date a:hover{
    color: #BD754F;
    transition: 0.2s;
}

.ler{
    background-color: transparent;
    padding: 10px 20px;
    border-style: none;
    color: #A0A677;
    border: 2px solid #BDC48D;
    margin-right: 50px;
    transition: 0.2s;
}

.ler:hover{
    background-color: #BDC48D;
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

.alignright{
    width: 100%;
    text-align: right;
}

.alignright p{
    margin: 0px 50px;
}

.pages p{
    margin: 30px 0px;
    padding: 0px 300px;
}

.pages a{
    color: #BDC48D;
    transition: 0.2s;
}

.pages a:hover{
    color: #A0A677;
    transition: 0.2s;
}

/** FIM POSTS **/


/** OQUEFAZEMOS **/
.oquefazemos h1{
    font-size: 18px;
    text-align: left;
    padding: 0px 20px 40px 20px;
    margin-bottom: 80px;
    border-bottom: 2px dotted #978B72;
}
/** BIO **/


.bio{
    text-align: center;
    margin-top: 50px;
    padding: 75px;
    
}
.colab{
    margin-bottom: 20px;
    font-size: 24px;
}

.daiane{
    text-align: left;
    margin-bottom: 50px;
}

.daiane p{
    margin-top: 20px;
}

.kayalla{
    text-align: left;
    margin-bottom: 50px;
}

.kayalla p{
    margin-top: 20px;
}

.name{
    font-size: 22px;
}

.description{
    padding: 15px 15px 15px 15px;
    background-color: #F2F0F2;
}

/** FIM DA BIO **/


@media screen and (max-width: 768px) {
    .nomedosite{
        margin-top: 80px;
        padding-bottom: 60px;
    }

    .nomedosite h2{
        font-family: Titulo;
        font-size: 60px;
        color: #BD754F;
    }

    .nomedosite h3{
        padding-left: 10px;
        font-size: 20px;
    }
    .posts{
        margin: 0px;
        padding: 0px;
    }
    .ler{
        margin-right: 0px;
    }
    .alignright p{
        margin: 0px;
    }
    .posts1 img{
        width: auto;
    }
    .pages p{
    padding: 0px 40px;
}
}