@font-face {
    font-family: Body;
    src: url(Raleway-Regular.ttf);
}

@font-face {
    font-family: Body;
    src: url(Raleway-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Titulo;
    src: url(Amarillo.ttf);
}

body{
    font-family: Body;
    font-size: 16px;
}

img{
    border-radius: 3px;
}

header{
    background-image: url(../img/bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
}

.menu{
    background-color: white;
    position: fixed;
    width: 100%;
    color: #978B72;
    border-radius: 0px;
    z-index: 1000;
    -webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.25);
}

.opcoes{
    padding: 10px 20px 10px 20px;
    float: left;
    font-size: 20px;
}

.opcoes ol{
    list-style: none;
}

.opcoes ol li{
    display: inline-block;
    padding: 10px 20px;
}

.redesmenu{
    color: #978B72;
    float: right;
    padding: 13px 20px 0px 20px;
}

.redesmenu i{
    padding: 0px 5px;
}

.titulo{
    width: 100%;
    text-align: center;
    padding: 200px 0px;
}

.titulo h2{
    font-family: Titulo;
    font-size: 80px;
    color: #BD754F;
}

.navbar {
    margin-bottom: 0px;
    border: 0px;
    border-radius: 0px;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.navbar-toggle {
    background-color: #978B72;
    border-radius: 0px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #978B72;
}

.navbar-inverse .navbar-nav>li>a {
    color: #978B72;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #BD754F !important;
    text-decoration: underline;
}

.navbar-inverse .navbar-nav>li>a:active {
    color: #978B72;
    text-decoration: underline;
}

.navbar-inverse .navbar-nav>li>a:visited {
    color: #978B72;
    text-decoration: underline;
}

.posts{
    text-align: center;
    margin: 50px 100px;
    padding: 0px 100px;
}

.posts h2 a{
    color: #BD754F;
}

.posts p{
    padding: 20px;
}
.post1{
    padding: 50px 0px;
    border-bottom: 2px dotted #978B72;
}

.date a{
    color: #978B72;
}

.date a:hover{
    color: #BD754F;
}

.ler{
    background-color: transparent;
    padding: 10px 20px;
    border-style: none;
    color: #A0A677;
    border: 2px solid #BDC48D;
    margin-right: 50px;
}

.ler:hover{
    background-color: #BDC48D;
    text-decoration: none;
    color: white;
}

.alignright{
    width: 100%;
    text-align: right;
}

.alignright p{
    margin: 0px 50px;
}

@media screen and (max-width: 768px) {
    header{
        height: 300px;
    }
    .posts{
        margin: 0px;
        padding: 0px;
    }
    .ler{
        margin-right: 0px;
    }
    .alignright p{
        margin: 0px;
    }
    .posts1 img{
        width: auto;
    }

}